:local {
  $black: #000;
  $white: #fff;
  $blue-text: #2A95BF;
  $panel-text-color: #8D8D8D;
  $grey-text: #818181;
  $panel-background-color: #F7F7F7;
  $people-background-color: #F5F5F5;
  $person-profile-name: #6C6C6C;

  font-family: 'Roboto';

  .center {
    text-align: center;
  }

  .person-profile {
    padding: 0 15px;

    .image {
      margin: 40px 0 25px;

      img {
        width: 130px;
        border-radius: 50%;
      }
    }

    .name {
      color: $person-profile-name;
      font-size: 21px;
      line-height: 24px;
      font-weight: 500;
    }
  }

  .booking-app {

    .panel {
      background-color: $panel-background-color;
      padding: 15px 36px;
      width: 100%;
      text-align: center;
      color: $panel-text-color;
      font-size: 16px;
      font-weight: 300;
      border-radius: 5px;
    }

    .header {
      background: linear-gradient(to top right, #3CB9C0, #2CAACA);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16);

      a {
        font-size: 12px;
        line-height: 14px;
        color: $white;
        text-decoration: none;
        font-weight: 300; // light
      }

      .vensa-logo {
        width: 74.74px;
        fill: $white;
      }

      .back-arrow {
        width: 19.35px;
        fill: $white;
        cursor: pointer;
      }
    }


    .health-professionals {
      background-color: $people-background-color;

      .row {
        padding: 15px;
        display: flex;
      }

      .person {
        background-color: $white;
        margin-bottom: 10px;

        .photo-container {
          flex-basis: 100px;

          img {
            width: 80px;
            border-radius: 50%;
          }

        }

        .name {
          font-size: 22px;
          line-height: 25px;
          color: $blue-text;
        }

        .title {
          font-size: 14px;
          line-height: 16px;
          color: $grey-text;
        }
      }
    }
  }
}
